# Firebase
# You can get these from your Firebase project settings
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB_DPW2GpzcnkpdhL5PqDTSOPj5px8Rwf0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tudio-2289885776-3fc9e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-2289885776-3fc9e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=studio-2289885776-3fc9e.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=378041796750
NEXT_PUBLIC_FIREBASE_APP_ID=1:378041796750:web:77c6dfc5ff2f076084e1df

# Stripe
# These are mock keys for the simulated checkout
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51RaC5TBupTZFq50QLX9dv4GHJi5qamB7ftmbAGR3KLBn5RGHZcuhDJ0jODx7SwAXBHt7FswfJqFSyZdNk79v6hoR00KTNA2USO
STRIPE_SECRET_KEY=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

# Gemini 
 GEMINI_API_KEY=AIzaSyDAp6Ded3u9xl9RVFBFizzeMvZJcdSXlGY