@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

html {
font-size: 17px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  :root {
    --background: 45 56% 92%; /* #F5F0E1 */
    --foreground: 27 20% 10%;
    --card: 45 50% 95%;
    --card-foreground: 27 20% 10%;
    --popover: 45 50% 95%;
    --popover-foreground: 27 20% 10%;
    --primary: 27 29% 50%; /* #A67B5B */
    --primary-foreground: 30 50% 98%;
    --secondary: 27 25% 70%;
    --secondary-foreground: 27 20% 10%;
    --muted: 27 25% 85%;
    --muted-foreground: 27 15% 40%;
    --accent: 120 11% 57%; /* #829F82 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 20% 75%;
    --input: 27 20% 80%;
    --ring: 27 29% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 27 10% 12%;
    --foreground: 45 30% 85%;
    --card: 27 10% 15%;
    --card-foreground: 45 30% 85%;
    --popover: 27 10% 15%;
    --popover-foreground: 45 30% 85%;
    --primary: 27 29% 50%;
    --primary-foreground: 30 50% 98%;
    --secondary: 27 15% 25%;
    --secondary-foreground: 45 30% 85%;
    --muted: 27 15% 25%;
    --muted-foreground: 45 20% 60%;
    --accent: 120 11% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 15% 25%;
    --input: 27 15% 25%;
    --ring: 27 29% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
